.header-fixed {
    width: 100%
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    height: 150px;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    width: 50%;
    float: left;
}
#feature-carousel {
    min-height: 200px;
}

.page-content {
    padding-top: 3.125rem;
    min-height: 100%;
    height: 100%;
}

#chartt {
    min-width: 110px;
    max-width: 300px;
    height: 300px;
    margin: 0 auto
}
.listWrapper {
    max-height:250px;
    overflow-y:auto;
}

#side {
    align: left;
    max-width: 250px;
    margin: 0;
    padding: 0;
}

.page-content {
    padding-top: 3.125rem;
    min-height: 100%;
    height: 100%;
}

@media screen and (max-width: 800px){
    #cell-sidebar {
        flex-basis: 52px;
    }
    #cell-content {
        flex-basis: calc(100% - 52px);
    }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}