
    <br>
    <br>
    <div class = "row">
        <div class = "container">
            <div class="grid">
                <div class="row cells12">
                    <div class="cell colspan4">
                        <div class="panel"  style="-webkit-animation: fadein 0.5s;">
                            <div class="heading">
                                <span class="title">Graph</span>
                            </div>

                            <div id="chart"></div>

                        </div>
                    </div>

                    <div class="cell colspan8">
                        <div class="panel"  style="-webkit-animation: fadein 1s;">
                            <div class="heading">
                                <span class="title">Query Dataset</span>
                            </div>

                            <div class="row cells12">
                                <div class="cell colspan4">
                                    <div class="content padding10 align-left">
                                        <div dropdown-select="ddSelectOptions"
                                             dropdown-model="ddSelectSelected"
                                             dropdown-item-label="text">
                                        </div>



                                    </div>


                                    <br>

                                </div>
                                <br><br><br><br>
                                <div class="  align-left padding10">
                                    <div ng-include="ddSelectSelected.htmltemplate"></div>
                                </div>

                                <span class="input-group-btn" ng-show="//(!loading && !confirm)">
                                            <button class="btn btn-primary" ng-click="getPurchasePrice(ddSelectSelected)"
                                                    data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false">
                                                <span>Purchase Query</span>
                                            </button>
                                    </span>

                                <div class="ld ld-hourglass ld-spin-fast padding10" ng-show="loading" style="font-size:32px;color:#8da"></div>

                            </div>

                            <br>

                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" >&times;</button>
                                            <h4 class="modal-title">Confirm Transcation</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Purchasing the query will cost ${{price}}. Click OK to confirm transaction.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="button primary" ng-click="confirmPurchase('OK')" data-dismiss="modal">OK</button>
                                            <button type="button" class="button danger" ng-click="confirmPurchase('Deny')" data-dismiss="modal">Deny</button>

                                        </div>
                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="row cells12">
                    <div class="cell colspan4">
                        <div class="panel"  style="-webkit-animation: fadein 0.5s;">
                            <div class="heading">
                                <span class="title">Summary</span>
                            </div>
                            <div class="content padding10 align-left">
                                <b>Total Purchased ($) : </b> {{}}<br>
                                <b>Total Savings ($) : </b> {{}}
                            </div>
                        </div>
                    </div>

                    <div class="cell colspan8">
                        <div class="panel"  style="-webkit-animation: fadein 1s;">
                            <div class="heading">
                                <span class="title">Schema Preview</span>
                            </div>

                            <div class="row cells12">
                                <div class="content padding10" style="background-color: white">
                                    <div class="panel-body table-responsive" style="max-width:2000px;max-height: 200px;">
                                        <table class="table table-bordered"  ng-repeat = "items in tables" ng-table="vm.tableParams" >
                                            <tr>
                                                <th ng-repeat="(key, val) in items[0]">{{key}}</th>
                                            </tr>
                                            <tr ng-repeat="item in items">
                                                <td style="font-size:10px" ng-repeat="(key, val) in item">{{val}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <br>

                        </div>

                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

