<style>
    p { margin:0 }
</style>
<form name="form" style="font-family: Consolas;">

    <p style="color:dodgerblue;">SELECT</p>
    <p> &emsp; <span style="color:hotpink;">COUNT</span>(*)</p>
    <p><span style="color:dodgerblue;">FROM</span> crash</p>
    <p><span style="color:dodgerblue;">WHERE</span> State =
        <select class="ui dropdown" ng-model="selectedstate.value" ng-options="x for x in states">
        </select>
    </p>

    <div class = "ui input">
        <p><span style="color:dodgerblue;">AND</span> Crash Date =
            <input type="date" id="exampleInput" name="input" ng-model="selecteddate.value"
               placeholder="yyyy-MM-dd" min="2011-01-01" max="2011-12-31" required style="display: inline-block;" />
        </p>
    </div>
    <div class = "ui input" style="display: inline-block;">
         <span style="color:dodgerblue;">AND</span> Interval =
            <input type="number" name="number" ng-model="selectedmonth"> months

    </div>

</form>
