<style>
    p { margin:0 }
</style>
<form name="form" style="font-family: Consolas;">
   <p style="color:dodgerblue;">SELECT</p>
    <p>&emsp;<span style="color:hotpink;">COUNT</span>(Fatalities_in_crash)</p>
    <p><span style="color:dodgerblue;">FROM</span> crash</p>
    <p><span style="color:dodgerblue;">WHERE</span> State =
        <select  class="ui dropdown"  ng-model="selectedstate.value" ng-options="x for x in states">
        </select>
    </p>
    <p><span style="color:dodgerblue;"> AND</span> Injury_Severity =
        <select  class="ui dropdown"  ng-model="selectedseverity.value" ng-options="x for x in severity">
        </select>
    </p>
    <p> <span style="color:dodgerblue;">AND</span> Atmospheric_Condition =
        <select  class="ui dropdown"  ng-model="selectedatmos.value" ng-options="x for x in atmos_con">
        </select>
    </p>

</form>
