<style>
    p { margin:0 }
</style>


<form name="form" style="font-family: Consolas;">

    <p style="color:dodgerblue;">SELECT</p>
    <p>&emsp;c_city,</p>
    <p>&emsp;s_city,</p>
    <p>&emsp;d_year,</p>
    <p>&emsp;<span style="color:hotpink;">SUM</span>(lo_revenue) <span style="color:dodgerblue;">AS</span> revenue</p>
    <p><span style="color:dodgerblue;">FROM</span> customer, </p>
    <p>&emsp;&emsp;&emsp;&emsp;&emsp;lineorder, </p>
    <p>&emsp;&emsp;&emsp;&emsp;&emsp;supplier, </p>
    <p>&emsp;&emsp;&emsp;&emsp;&emsp;date</p>
    <p><span style="color:dodgerblue;"> WHERE</span> lo_custkey = c_custkey</p>
    <p><span style="color:dodgerblue;"> AND</span> lo_suppkey = s_suppkey</p>
    <p><span style="color:dodgerblue;"> AND</span> lo_orderdate = d_datekey</p>
    <p><span style="color:dodgerblue;"> AND</span> (c_city =
        <select class="ui dropdown" ng-model="selectedc_city1.value" ng-options="x for x in c_city">
        </select>
        <span style="color:dodgerblue;"> OR </span> c_city =
        <select class="ui dropdown" ng-model="selectedc_city2.value" ng-options="x for x in c_city">
        </select> )
    </p>
    <p><span style="color:dodgerblue;"> AND</span> (s_city =
        <select class="ui dropdown" ng-model="selecteds_city1.value" ng-options="x for x in s_city">
        </select>
        <span style="color:dodgerblue;"> OR </span> s_city =
        <select class="ui dropdown" ng-model="selecteds_city2.value" ng-options="x for x in s_city">
        </select> )
    </p>
    <p><span style="color:dodgerblue;"> AND</span> d_yearmonth =
        <select class="ui dropdown" ng-model="selectedd_yearmonth.value" ng-options="x for x in yearmonth">
        </select>
    </p>


    <p><span style="color:dodgerblue;"> GROUP BY</span> c_city, </p>
    <p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;s_city, </p>
    <p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;d_year </p>



</form>