<style>
    p { margin:0 }
</style>

<form name="form" style="font-family: Consolas;">

    <span ng-show="form.number.$error.max || form.number.$error.min">
                        <div class="alert alert-danger" role="alert">
                          <strong>Error</strong> Population needs to be between 0 and 100
                        </div></span>


    <p style="color:dodgerblue;">SELECT</p>
    <p>&emsp;*</p>
    <p><span style="color:dodgerblue;">FROM</span> Country</p>
    <p> <span style="color:dodgerblue;">WHERE</span> Continent =
    <select class="ui dropdown" ng-model="selectedCon.value" ng-options="x for x in continents">

    </select></p>
    <div class = "ui input" style="display: inline-block;">
        <span style="color:dodgerblue;">AND</span> Population >
            <input type="number" name="number" ng-model="selectedPop" min = "0" max = "1277558000"> </div>

</form>
